.headerStyle{
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: black;
    /*color: #818181; */
  }
  p {
    color: black;
  }
  h1 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h3 {
    color: black;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    background-color: #1abc9c;
  }
  p { 
    font-size: 16px;
  }

  .footerStyle {
    font-size: 12px;
    color: #ffffff;
  } 
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #EDEDED;
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  /* .container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
  } */
  .navbar {
    /* padding-top: 15px;
    padding-bottom: 15px;  */
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

  .navbar-default .navbar-brand {
    color: white;
}

  .navbar-brand {
    float: left;
    height: 50px;
    /* padding: 15px 15px; */
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 20px;
    background-color: #4EAAA5;
}

  .footer {
    padding-top: 20px;
    padding-bottom: 15px; 
  }

  .footerColor {
    background-color: #4EAAA5;
  }